<div class="col-lg-4">
  <!-- about -->

  <!-- category -->
  <div class="widget">
    <h4 class="widget-title">Categorias</h4>
    {{- if isset .Site.Taxonomies "categories" }}
    {{- if not (eq (len .Site.Taxonomies.categories) 0) }}
    <ul class="list-unstyled">
      {{- range $name, $items := .Site.Taxonomies.categories }}
      <li><a
          href="{{ `categories/` | relLangURL }}{{ $name | urlize | lower }}">{{ $name | title | humanize }}</a>
      </li>
      {{- end }}
    </ul>
    {{- end }}
    {{- end }}
  </div>
  <!-- Tags -->

  <!-- social -->
  <div class="widget">
    <h4 class="widget-title">Social</h4>
    <ul class="list-inline social-links">
      {{ range .Site.Params.social }}
      <li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
      {{ end }}
    </ul>
  </div>
  <!-- advertisement -->
  <a class="twitter-timeline" href="https://twitter.com/leruaite" data-widget-id="545424221011456000">Tweets de @leruaite</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<!-- facebook-->
<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fleruaiteeconomico&tabs=timeline&width=340&height=500&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
